params {

/********default params *******/ 
    genomes_dir = "./data/genomes_dir/"
    species = false
    intervalFile = false
    results= false
    model = false
    modelFile = "./inputdata/models.txt"
    refdb = "./inputdata/refdb.txt"
    help = false
    version = false
    //fastaFile = true
    //prot = ""
}